
@{
    ViewBag.Title = "Lesson3";
}

<div class="navbar">    
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Start", "Index", "Documentation")</li>
            <li>@Html.ActionLink("Page1", "Page1", "Documentation")</li>
            <li>@Html.ActionLink("Page2", "Page2", "Documentation")</li>
            <li>@Html.ActionLink("Page3", "Page3", "Documentation")</li>
            <li>@Html.ActionLink("Page4", "Page4", "Documentation")</li>
            <li>@Html.ActionLink("Page5", "Page5", "Documentation")</li>
            <li>@Html.ActionLink("Page6", "Page6", "Documentation")</li>
        </ul>            
    </div>



    <h2>Documentation: But What Do We Do?</h2>
    <h2>Computational thinking and documentation</h2>
    

    <p>
        Brilliant news! The Games Company were so impressed with our Simple Simon Game that they have asked us to help out with some more design!
        <img src="~/Images/2Player.png" style="float:right;width:256px;height:256px;" />
    </p>
    <p>
        I'm having a bit of trouble with it though, can you help?
    </p>
    <p>
        They want us to design how to interact with a game, but they do not want any instructions. <b>No instructions!</b>
        <br /> They have got this idea that reading instructions is not cool, that nobody will read them anyway, and so there must not be any.
    </p>
    <p>
        The thing is it is a 2 player game, a race to get to the bullseye. Each player will need to use keys to control their player up, down, left and right.
        <br /> But...we can't tell the player what the keys are...
    </p>
    <p>
        Let's start with just one player, can you help me see if we can get it to work with just one player?
        <br /> What you are going to need is a volunteer, and to work in secret for a little bit. Your volunteer could be the person sitting next to you, a teacher, a parent, a brother or sister. Whoever it is, don't let them see the next bit, the bit where you choose the keys.
        <br />OK?
        <br /> So, your volunteer is not watching..ok...        
    </p>

<p>
    <b>First you need a worksheet:</b>
    <br /><i>Paper...</i>
    <br /><a href="~/Images/Documentation_Worksheetv2.pdf" target="_blank">Paper Worksheet</a>     
    <br /><i>Or online...</i>
    <br /><a href="http://goo.gl/forms/FWCaCLM6Qt" target="_blank">Online worksheet 1</a>
    <br /><a href="http://goo.gl/forms/4yU5j5GDSH" target="_blank">Online worksheet 2</a>
    <br /><i><small>If you open an online worksheet pull it to its own window and place the activity and the worksheet windows side by side.</small></i>
</p>

<p>
    <b>Now you are ready to start the activity:</b>
    <br />@Html.ActionLink("Online Activity", "Page1", "Documentation") (no paper version)
</p>


