
@{
    ViewBag.Title = "Page3";
}

<div class="navbar">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Start", "Index", "Documentation")</li>
        <li>@Html.ActionLink("Page1", "Page1", "Documentation")</li>
        <li>@Html.ActionLink("Page2", "Page2", "Documentation")</li>
        <li>@Html.ActionLink("Page3", "Page3", "Documentation")</li>
        <li>@Html.ActionLink("Page4", "Page4", "Documentation")</li>
        <li>@Html.ActionLink("Page5", "Page5", "Documentation")</li>
        <li>@Html.ActionLink("Page6", "Page6", "Documentation")</li>
    </ul>
</div>


<h3>Page 3, Documentation: Design the 2 player game</h3>


<p>I think this is going to be tricky. </p>
<p>You'll need your volunteer again in a minute. First thing, on the scratch project below, just like before you need to select your keys for movement.</p>
<p>You need to select keys for player 1 and player 2!</p>
<p>When you've done it play it yourself first to make sure it works, then call over your volunteer.
    <br /> Get them to be player 2 (assuming you used the same keys for player 1 this time - so they don't already know the keys)</p>
<p><b>BUT this time don't give the game away!</b></p>
<p>If they can't figure it out something isn't working in our game design, we need to think about it and make some changes...</p>
<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/93538561/?autostart=false" frameborder="0" allowfullscreen></iframe>

<p>
    Ok, you did a great job, it was pretty hard wasn't it?. Click below to see what I did.
    <br />@Html.ActionLink("Next>>", "Page4", "Documentation")
</p>
