
@{
    ViewBag.Title = "Page6";
}

<div class="navbar">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Start", "Index", "Documentation")</li>
        <li>@Html.ActionLink("Page1", "Page1", "Documentation")</li>
        <li>@Html.ActionLink("Page2", "Page2", "Documentation")</li>
        <li>@Html.ActionLink("Page3", "Page3", "Documentation")</li>
        <li>@Html.ActionLink("Page4", "Page4", "Documentation")</li>
        <li>@Html.ActionLink("Page5", "Page5", "Documentation")</li>
        <li>@Html.ActionLink("Page6", "Page6", "Documentation")</li>
    </ul>
</div>


<h3>Page 6, Documentation: The Bullseye Game</h3>



<p>Thank you for your help. The Ganmes Company are really happy with this final version and are going to release it soon. Have a look and see what you think.</p>
<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/93597582/?autostart=false" frameborder="0" allowfullscreen></iframe>


<p>
    Thank you so much! You have been such a help! The game is ready to into production any time soon!    
</p>


