
@{
    ViewBag.Title = "Page4";
}

<div class="navbar">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Start", "Index", "Documentation")</li>
        <li>@Html.ActionLink("Page1", "Page1", "Documentation")</li>
        <li>@Html.ActionLink("Page2", "Page2", "Documentation")</li>
        <li>@Html.ActionLink("Page3", "Page3", "Documentation")</li>
        <li>@Html.ActionLink("Page4", "Page4", "Documentation")</li>
        <li>@Html.ActionLink("Page5", "Page5", "Documentation")</li>
        <li>@Html.ActionLink("Page6", "Page6", "Documentation")</li>
    </ul>
</div>


<h3>Page 4, Documentation: My 2 Player Game</h3>

<p>
    You can play my 2 player version below. I don't think you'll guess the Player 2 keys though...
    I'm not going to tell you!    
</p>
<iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/93538576/?autostart=false" frameborder="0" allowfullscreen></iframe>

<p>
    I am not happy. Sometimes we shouldn't always say yes if we don't think something is right.
    <br />Although I really want the work from this client I think I need to tell them that what they have asked for isn't possible. 
    <br />I'm worried to do it but it is what I should do.
    <br />Click below to see what happens.... 
    <br />@Html.ActionLink("Next>>", "Page5", "Documentation")
</p>

